<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabernacle</title>
  <link href="stylesheets/materialize.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>

  <%= film.title %>
  <%- include("components/header.ejs") %>


  <h1>TABERNACLE</h1>
  <h2>Le quizz des héros</h2>
  
  
  
  <p>Bienvenue sur notre quizz Tabernacle !</p>
  <p>Avec ce QCM, nous allons tester tes connaissances cinématographiques et languistiques, j'espère que tu seras à la
    hauteur !</p>
  <p>Pour résumer, apparaîtront un titre de film en français, et 5 propositions en dessous. L'une d'elle est traduite
    par les québecois, à vous de deviner laquelle !</p>


  <div class="jouer" href="javascript:void(0);" onclick="window.location.href='index'"><a>Lancer le quiz !</a></div>


  <script src="javascript/script.js"></script>
  
  <%- include("components/footer.ejs") %>

  <script src="../app.js"></script>
</body>

</html>