<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link href="stylesheets/materialize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
   
    <%- include("components/header.ejs") %>

    <div id="container">
        <div id="start">Start the   Tabernacle Quiz</div>
        <div id="quiz" style="display: none">
            <div id="question"> <%= film.title %>  </div>
            <div id="qImg"></div>
            <div id="choices">
                <div class="choice" id="A" onclick="checkAnswer('A')"> 
                </div>
                <div class="choice" id="B" onclick="checkAnswer('B')"></div>
                <div class="choice" id="C" onclick="checkAnswer('C')"></div>
            </div>
            <div id="timer">
                <div id="counter"></div>
                <div id="btimeGauge"></div>
                <div id="timeGauge"></div>
            </div>
            <div id="progress"></div>
        </div>
        <div id="scoreContainer" style="display: none"></div>
    </div>

    <%- include("components/footer.ejs") %>


    
    <!-- <script src="javascript/quiz.js"></script> -->

    <script src="javascript/script.js"></script>


</body>
</html>